@model List<Cliente>
@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="card">

    <div class="card-header">
        <h1 class="text-success text-center font-weight-bold" style="font-family: Times new roman">@ViewData["Title"]</h1>
    </div> 

    <div class="card-body">   
        <p>
            <a asp-action="Cliente" class="btn btn-outline-success">Adicionar Novo +</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código Fiscal</th>
                    <th>Inscrição Estadual</th>
                    <th>Nome</th>
                    <th>Nome Fantasia</th>
                    <th>Endereço</th>
                    <th>Número</th>
                    <th>Bairro</th>
                    <th>Estado</th>
                    <th>Cidade</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.CodigoFiscal</td>
                        <td>@cliente.InscricaoEstadual</td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.NomeFantasia</td>
                        <td>@cliente.Endereco</td>
                        <td>@cliente.Numero</td>
                        <td>@cliente.Bairro</td>
                        <td>@cliente.Estado</td>
                        <td>@cliente.Cidade</td>
                        <td>@cliente.DataCliente</td>
                        <td>
                            <div class="d-flex gap-2" role="group" aria-label="Ações do Cliente">
                                <a asp-controller="Cliente" asp-action="Remove" asp-route-id="@cliente.Id" class="btn btn-danger">Excluir</a>
                                <a asp-action="Cliente" asp-route-id="@cliente.Id" class="btn btn-primary">Editar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>